@(users: Seq[User])(implicit request: RequestHeader, messagesProvider: MessagesProvider)


@main("User database") {
<div>
    <p> @request.flash.get("success")</p>
    <h2>Previously inserted users:</h2>
    <table>
        <tr>
            <th>Email</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Details</th>
        </tr>
      @for(u <- users){
      <tr>
            <td>@u.email</td>
            <td>@u.firstName</td>
            <td>@u.lastName</td>
            <td><a href='@routes.DeliveryAddressController.list(u.id)'>Details</a></td>
      </tr>
      }
    </table>
    <a href='@routes.AuthenticationController.signOut()'>Sign out</a>
    <br/>
    <a href="@routes.Application.menu()">Menu</a>
  </div>
}
