@(deliveryAddresses: Seq[DeliveryAddress], userId: Long)

@main("Delivery addresses database") {
    <div>
        <h2>Delivery addresses for user:</h2>
        <table>
            <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>Country</th>
                <th>City</th>
                <th>Street</th>
                <th>Postal code</th>
            </tr>
            @for(da <- deliveryAddresses) {
                <tr>
                    <td>@da.firstName</td>
                    <td>@da.lastName</td>
                    <td>@da.country</td>
                    <td>@da.city</td>
                    <td>@da.street</td>
                    <td>@da.postalcode</td>
                </tr>
            }
        </table>
        <td><a href='@routes.DeliveryAddressController.deliveryAddressGet(userId)'>Add new delivery addresses</a></td>
    </div>
}
