@(deliveryAddresses: Seq[DeliveryAddress], userId: Int)(implicit request: RequestHeader, messagesProvider: MessagesProvider)

@main("Delivery addresses database") {
    <div>
        <p> @request.flash.get("auth-error")</p>
        <p> @request.flash.get("success")</p>
        <h2>Delivery addresses for user:</h2>
        <table>
            <tr>
                <th>Country</th>
                <th>City</th>
                <th>Street</th>
                <th>Postal code</th>
                <th></th>
            </tr>
            @for(da <- deliveryAddresses) {
                <tr>
                    <td>@da.country</td>
                    <td>@da.city</td>
                    <td>@da.street</td>
                    <td>@da.postalcode</td>
                    <td><a href='@routes.DeliveryAddressController.deliveryAddressGetUpdate(da.id, userId)'>Edit</a></td>
                </tr>
            }
        </table>
        <td><a href='@routes.DeliveryAddressController.deliveryAddressCreateGet(userId)'>Add new delivery addresses</a></td>
        <div>
            <a href='@routes.AuthenticationController.signOut()'>Sign out</a>
            <br/>
            <a href="@routes.Application.menu()">Menu</a>
        </div>
    </div>
}
